<%= render './layouts/shared/application_show' %>
<section id="application_pets">
  <h3>Pets</h3>
  <ul><% @application.application_pets.each do |application_pet| %>
    <li id='pet-<%= application_pet.pet_id %>'>
      <%= link_to application_pet.pet_name, pet_path(application_pet.pet_id) %>
      <% if application_pet.status %>
        <%= application_pet.status.capitalize %>
      <% elsif !application_pet.approvable %>
        <span>This pet has been approved for adoption by another applicant</span>
        <%= button_to "Reject Pet", admin_path(@application, pet: application_pet.pet_id, status: :rejected), method: :patch %>
      <% else %>
        <%= button_to "Approve Pet", admin_path(@application, pet: application_pet.pet_id, status: :approved), method: :patch %>
        <%= button_to "Reject Pet", admin_path(@application, pet: application_pet.pet_id, status: :rejected), method: :patch %>
      <% end %></li>
  <% end %></ul>
</section>
