<h2><%= @shelter.name %></h2>
<%= @shelter.address %>
<%= @shelter.city %>
<%= @shelter.state %>
<%= @shelter.zip %><br>
<%= link_to "#{@shelter.name}'s Pets", "/shelters/#{@shelter.id}/pets" %>
<a href="/shelters/<%= @shelter.id %>/edit">Edit Shelter</a>
<%= button_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
<section id="statistics">
  <h3>Statistics</h3>
  <p>Average Pet Age: <%= @shelter.average_pet_age %></p>
  <p>Adoptable Pets: <%= @shelter.adoptable_pet_count %></p>
  <p>Pets Adopted: <%= @shelter.pets_adopted %></p>
</section>
<section id='action_required'>
  <h3>Action Required</h3>
  <ul><% @shelter.pets_pending_action.each do |pet| %>
    <li id='<%= "#{pet.name}-#{pet.app_id}" %>'>
      <p><%= pet.name %>
        <%= link_to "View Application", admin_application_path(pet.app_id) %></p>
    </li>
  <% end %></ul?
</section>
