<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopM2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <header>
      <nav class="nav-bar">
        <%= link_to "Back to Home", "/" %>
        <%= link_to "Go to Shelters", "/shelters" %>
        <%= link_to 'Go to Pets', "/pets" %>
      </nav>
    </header>

      <% flash.each do |notice, messages| %>
        <ul class='notice'><% messages.each do |message| %>
          <li><%= message %></li>
        <% end %></ul>
      <% end %>

      <%= yield %>
  </body>
</html>
